{% extends _layout %}
{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables/media/css/jquery.dataTables.css"/>
    <link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables-fixedcolumns/css/dataTables.fixedColumns.css"/>
{% endblock %}

{% block content %}
    <div class="page-title">
  <div class="title_left">
    <h3>{{line('module_'~controller_name)}} <small>Registros almacenados</small></h3>
  </div>
  <div class="title_right"></div>
</div>
<div class="clear-fix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <div class="btn-group" role="group">
                            {{ anchor(controller_name~"/view/-1?width="~form_width,line(controller_name~'_open'), {'class':'btn btn-primary thickbox','title':line(controller_name~'_open')})}}
                    </div>
                    <div class="btn-group" role="group">
                            <div id="search_filter_section" style="display: {{ search_section_state is defined?  ( (search_section_state)? 'block' : 'none') : 'none'}}background-color:#EEEEEE">
                                {{ form_open(controller_name~"/refresh",{'id':'items_filter_form'}) }}
                                {{ form_close() }}
                            </div>
                    </div>
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            {{ manage_table|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
	<script src="{{base_url()}}assets/bower_components/datatables/media/js/jquery.dataTables.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
    <script src="{{base_url()}}assets/bower_components/datatables-fixedcolumns/js/dataTables.fixedColumns.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
    <script src="{{base_url()}}js/manage_tables.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
    
    <script type="text/javascript">
    $(document).ready(function(){         
            //enable_delete('{{ line(controller_name~"_confirm_delete")}}', '{{ line(controller_name~"_none_selected")}}')
        oTable = $('#sortable_table').DataTable({
            scrollX: true,
            scrollCollapse: true,
            "processing": true,
            "serverSide": true,
            "ajax": '{{controller_name}}/mis_datos',
            "aoColumnDefs": [{'bSortable': false, 'aTargets': [0,9]},{ "visible": false, "targets": 1 }],
            "order": [[2, "asc"]]
        });

        //Child rows with summary report.
        $('#sortable_table tbody').on('click', 'img.details-control', function () {
            var tr = $(this).closest('tr');
            var row = oTable.row( tr );
            console.log(row.data()[1])
         
            if ( row.child.isShown() ) {
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        } );

        function format ( rowData ) {
            var div = $('<div/>')
                .addClass( 'loading' )
                .text( 'Loading...' );
         
            $.ajax( {
                url: '{{controller_name}}/view_child_row',
                data: {
                    box_id: rowData[1]
                },
                dataType: 'json',
                success: function ( json ) {
                    div
                        .html( json.html )
                        .removeClass( 'loading' );
                }
            } );
         
            return div;
        }

        //End child row append

    });

function init_table_sorting()
{
	//Only init if there is more than one row
	if($('.tablesorter tbody tr').length >1)
	{
		$("#sortable_table").tablesorter(
		{
			sortList: [[1,1]],
			headers:
			{
				0: { sorter: false},
				8: { sorter: false}
			}

		});
	}
}

function post_box_form_submit(response)
{
    if (!response.success){
                //set_feedback(response.message, 'error_message', true);
                new PNotify({
                    title: 'Oh No!',
                    text: response.message,
                    type: 'error'
                });
            }
            else{
                //This is an update, just update one row
                if (jQuery.inArray(response.item_id, get_visible_checkbox_ids()) != -1){
                    update_row(response.item_id, '{{ site_url(controller_name~"/get_row")}}');
                    //set_feedback(response.message, 'success_message', false);
                    new PNotify({
                        title: 'Exito',
                        text: response.message,
                        type: 'success'
                    });
                }
                else {
                ////refresca toda la tabla.
                    oTable.api().ajax.reload(
                            function ( json ) {
                                hightlight_row(response.item_id);
                                new PNotify({
                                    title: 'Exito',
                                    text: response.message,
                                    type: 'success'
                                });}
                            );
                }
            }
}
    </script>
{% endblock %}