<fieldset id="box_basic_info">
	<legend>{{line("module_close_box_desc") }}</legend>

<div class="form-group">
	{{form_label(line('sales_total_day')~':', 'tot_venta_lbl') }}
	{{form_label('$'~tot_venta.total, 'tot_venta_lbl') }}
</div>

<div class="form-group">
	{{form_label(line('boxes_open_value')~':', '') }}
	{{form_label('$'~box_info.open_value, '') }}
</div>

<div class="form-group">
	{{form_label(line('boxes_close_value')~':', '') }}
	{{form_label('$'~(box_info.open_value+tot_venta.total), '') }}
	{{form_hidden('close_value',tot_venta.total+box_info.open_value)}}
</div>
</fieldset>