{% extends _layout %}
{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}
{% block content %}
    <div id="page-wrapper" style="min-height: 514px;">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ line('reports_reports') }}</h1>
                <p>{{ line('reports_welcome_message') }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ line('reports_graphical_reports') }} </div>
                    <div class="panel-body">
                        <li><a href="{{ site_url('reports/graphical_summary_sales')}}">{{ line('reports_sales') }}</a></li>
                        <li><a href="{{ site_url('reports/graphical_summary_categories')}}">{{ line('reports_categories') }}</a></li>
                        <li><a href="{{ site_url('reports/graphical_summary_customers')}}">{{ line('reports_customers') }}</a></li>
                        <li><a href="{{ site_url('reports/graphical_summary_suppliers')}}">{{ line('reports_suppliers') }}</a></li>
                        <li><a href="{{ site_url('reports/graphical_summary_items')}}">{{ line('reports_items') }}</a></li>
                        <li><a href="{{ site_url('reports/graphical_summary_employees')}}">{{ line('reports_employees') }}</a></li>
                        <li><a href="{{ site_url('reports/graphical_summary_taxes')}}">{{ line('reports_taxes') }}</a></li>
                        <li><a href="{{ site_url('reports/graphical_summary_discounts')}}">{{ line('reports_discounts') }}</a></li>
                        <li><a href="{{ site_url('reports/graphical_summary_payments')}}">{{ line('reports_payments') }}</a></li>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">{{ line('reports_summary_reports') }}</div>
                    <div class="panel-body">
                        <li><a href="{{ site_url('reports/summary_sales')}}">{{ line('reports_sales') }}</a></li>
                        <li><a href="{{ site_url('reports/summary_categories')}}">{{ line('reports_categories') }}</a></li>
                        <li><a href="{{ site_url('reports/summary_customers')}}">{{ line('reports_customers') }}</a></li>
                        <li><a href="{{ site_url('reports/summary_suppliers')}}">{{ line('reports_suppliers') }}</a></li>
                        <li><a href="{{ site_url('reports/summary_items')}}">{{ line('reports_items') }}</a></li>
                        <li><a href="{{ site_url('reports/summary_employees')}}">{{ line('reports_employees') }}</a></li>
                        <li><a href="{{ site_url('reports/summary_taxes')}}">{{ line('reports_taxes') }}</a></li>
                        <li><a href="{{ site_url('reports/summary_discounts')}}">{{ line('reports_discounts') }}</a></li>
                        <li><a href="{{ site_url('reports/summary_payments')}}">{{ line('reports_payments') }}</a></li>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ line('reports_detailed_reports') }}</div>
                    <div class="panel-body">
                        <li><a href="{{ site_url('reports/detailed_sales')}}">{{ line('reports_sales') }}</a></li>
                        <li><a href="{{ site_url('reports/detailed_receivings')}}">{{ line('reports_receivings') }}</a></li>
                        <li><a href="{{ site_url('reports/specific_customer')}}">{{ line('reports_customer') }}</a></li>
                        <li><a href="{{ site_url('reports/specific_employee')}}">{{ line('reports_employee') }}</a></li>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-green">
                    <div class="panel-heading">{{ line('reports_inventory_reports') }}</div>
                    <div class="panel-body">		
                        <li><a href="{{ site_url('reports/inventory_low_almacen')}}">{{ line('reports_low_inventory') }}</a></li>

                        <li><a href="{{ site_url('reports/inventory_summary_almacen')}}">{{ line('reports_inventory_summary_almacen') }}</a></li>
                    </div>
                </div>
                <!--<li><h3>{{ line('reports_cuentas') }}</h3>
                        <ul>
                                <li><a href="{{ site_url('reports/detailed_por_cobrar')}}">{{ line('reports_por_cobrar') }}</a></li>
                                <li><a href="{{ site_url('reports/detailed_porpagar')}}">{{ line('reports_por_pagar') }}</a></li>
                        </ul>
                </li>-->
            </div>
        </div>
    </div>

    {% if(error is not empty) %}
        <div class='error_message'>".error."</div>
    {%endif%}

{% endblock %}