    {% block javascript %}
            <script src="{{base_url()}}assets/bower_components/jquery/dist/jquery.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
            <script src="{{base_url()}}assets/bower_components/jquery-validation/dist/jquery.validate.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
            <script src="{{base_url()}}assets/bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
            <script src="{{base_url()}}assets/bower_components/pnotify/pnotify.core.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
            <script src="{{base_url()}}assets/web/js_min/jquery.scrollUp.min.js"></script>
            <script src="{{base_url()}}assets/web/js_min/price-range.js"></script>
            <script src="{{base_url()}}assets/web/js_min/jquery.prettyPhoto.js"></script>
            <script src="{{base_url()}}assets/web/js_min/main.js"></script>
        {%endblock%}        
    </body>
</html>
