{% block left_menu %}
	
	<div class="left-sidebar">
		<h2>{{line('market_categorias')}}</h2>
		<div class="panel-group category-products" id="accordian"><!--category-productsr-->
			<!--<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
							<span class="badge pull-right"><i class="fa fa-plus"></i></span>
							{{line('market_deportivos')}}
						</a>
					</h4>
				</div>
				<div id="sportswear" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							<li><a href="#">{{line('market_categoria')}}</a></li>
						</ul>
					</div>
				</div>
			</div>-->
			
			{% for categoria in categorias %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#" class="market-filter" filter="{{categoria.filtro}}" tipo="categoria">
								<span class="badge pull-right"><i class="fa">{{categoria.total}}</i></span>
								{{categoria.filtro}}
							</a>
						</h4>
					</div>
				</div>
			{% endfor %}
			<div class="panel-footer">
				<ul class="market-applied-filters"></ul>
			</div>
		</div><!--/category-products-->
		
		<h2>{{line('market_tags')}}</h2>
		<div class="panel-group category-products" id="accordian"><!--tags-->
			{% for key,tag in tags %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordian" href="#sportswear{{loop.index}}" class="market-filter" filter="{{key}}" tipo="tag">
							{% if tag|length>0 %}<span class="badge pull-right"><i class="fa fa-plus"></i></span>{% endif %}
							{{key}}
						</a>
					</h4>
				</div>
				{% if tag|length>0 %}
				<div id="sportswear{{loop.index}}" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							{% for tagsillo in tag %}
								<li><a href="#" class="market-filter" filter="{{tagsillo}}" tipo="tag">{{tagsillo}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</div><!--/tags-->

		<h2>{{line('market_tallas')}}</h2>
		<div class="panel-group category-products" id="accordian">
			{% for talla in tallas %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#" class="market-filter" filter="{{talla.filtro}}" tipo="talla">
								{{talla.filtro}}
							</a>
						</h4>
					</div>
				</div>
			{% endfor %}
		</div>

		<h2>{{line('market_colores')}}</h2>
		<div class="panel-group category-products" id="accordian">
			{% for color in colores %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#" class="market-filter" filter="{{color.filtro}}" tipo="color">
								{{color.filtro}}
							</a>
						</h4>
					</div>
				</div>
			{% endfor %}
		</div>

		<!--brands_products<div class="brands_products">
			<h2>{{line('market_marcas')}}</h2>
			<div class="brands-name">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#"> <span class="pull-right">(0)</span>{{line('market_marca')}}</a></li>
				</ul>
			</div>
		</div> --brands_products-->
		
		<div class="price-range"><!--price-range-->
			<h2>{{line('market_rango_precios')}}</h2>
			<div class="well text-center">
				 {# <input type="text" class="span2" value="{{precios.minimo}},{{(precios.maximo+precios.minimo)/2}}" data-slider-min="{{precios.minimo}}" data-slider-max="{{precios.maximo}}" data-slider-step="1" data-slider-value="[{{precios.minimo}},{{(precios.maximo)}}]" id="sl2" ><br /> #}
				 <input type="text" class="span2" value="{{precios.minimo}},{{(precios.maximo)}}" data-slider-min="{{precios.minimo}}" data-slider-max="{{precios.maximo}}" data-slider-step="1" data-slider-value="[{{precios.minimo}},{{(precios.maximo)}}]" id="sl2" ><br />
				 <b class="pull-left">$ {{precios.minimo}}</b> <b class="pull-right">$ {{precios.maximo}}</b>
			</div>
		</div><!--/price-range-->
		
		<div class="shipping text-center"><!--shipping-->
			<img src="{{ site_url('images/home/shipping.jpg') }}" alt="" />
		</div><!--/shipping-->
	
	</div>
{% endblock %}