{% block left_menu %}
	
	<div class="left-sidebar">
		<h2>{{line('market_categorias')}}</h2>
		<div class="panel-group category-products" id="accordian"><!--category-productsr-->
			<!--<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
							<span class="badge pull-right"><i class="fa fa-plus"></i></span>
							{{line('market_deportivos')}}
						</a>
					</h4>
				</div>
				<div id="sportswear" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							<li><a href="#">{{line('market_categoria')}}</a></li>
						</ul>
					</div>
				</div>
			</div>-->
			
			{% for categoria in categorias %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#" class="market-filter" filter="{{categoria.category}}" tipo="categoria">
								<span class="badge pull-right"><i class="fa">{{categoria.total}}</i></span>
								{{categoria.category}}
							</a>
						</h4>
					</div>
				</div>
			{% endfor %}
			<div class="panel-footer">
				<ul class="market-applied-filters"></ul>
			</div>
		</div><!--/category-products-->
	
		<!--brands_products<div class="brands_products">
			<h2>{{line('market_marcas')}}</h2>
			<div class="brands-name">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#"> <span class="pull-right">(0)</span>{{line('market_marca')}}</a></li>
				</ul>
			</div>
		</div> --brands_products-->
		
		<div class="price-range"><!--price-range-->
			<h2>{{line('market_rango_precios')}}</h2>
			<div class="well text-center">
				 <input type="text" class="span2" value="0,100" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[0,100]" id="sl2" ><br />
				 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
			</div>
		</div><!--/price-range-->
		
		<div class="shipping text-center"><!--shipping-->
			<img src="images/home/shipping.jpg" alt="" />
		</div><!--/shipping-->
	
	</div>
{% endblock %}