{% block header %}
    {% include 'partials/heading.html.twig' %}
    {% include 'partials/heade.html.twig' %}
{% endblock %}
{% block content %}
{% block main_banner %}
	{# include 'main_banner.html.twig' #}
{% endblock %}

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">{{line('market_home')}}</a></li>
				  <li class="active">{{line('market_lista_deseos')}}</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">{{line('market_producto')}}</td>
							<td class="description"></td>
							<td class="price">{{line('market_precio')}}</td>
							<td class="quantity">{{line('market_stock')}}</td>
							<td></td>
						</tr>
					</thead>
					<tbody id="items-carrito">
						{% for producto in productos %}
							{% include 'wlist/item_wlist.html.twig' with {'producto':producto} %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->
{% endblock %}

{% block footer %}
    {% include 'partials/foote.html.twig' %}
    {% include 'partials/footing.html.twig' %}
{% endblock %}