{% block header %}
<div class="col-md-3 left_col">
              <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                  <a href="{{base_url()}}" class="site_title"><i class="fa fa-paw"></i> <span>{{config('company')}}</span></a>
                </div>

         <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="{{base_url()}}images/profile.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>{{line('common_welcome')}}</span>
                <h2>{{ user_info.first_name ~ ' '~ user_info.last_name~'!'}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Principal</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{base_url()}}">Principal</a></li>
                      <li><a href="{{site_url('home')}}/menu">Accesos</a></li>
                    </ul>
                  </li>
                  {% set ingresa_menu = false %}
                  {% for module in allowed_modules.result if (module.module_id != 'config' and module.module_id != 'web_market' and module.module_id != 'reports' and module.module_id != 'suppliers' and module.module_id != 'receivings' and module.module_id != 'employees' and module.module_id != 'payments' and module.module_id != 'porpagar' and module.module_id != 'almacenes' and module.module_id != 'ecommerce' and module.module_id != 'lanzamientos' and module.module_id != 'blog' and module.module_id != 'items') %}
                    {% if loop.first %}
                      <li><a><i class="fa fa-shopping-cart"></i> Ventas <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                    {% endif %}
                    <li>
                        <a href="{{site_url(module.module_id)}}">
                            <img src="{{base_url() ~ 'images/menubar/' ~ module.module_id ~ '.png'}}" alt="{{line(module.desc_lang_key)}}" style="width: 23px; height: 23px;"/>
                                 {{line("module_" ~ module.module_id)}}
                        </a>
                    </li>
                    {% set ingresa_menu = true %}
                    {% endfor %}
                    {% if ingresa_menu %}
                        </ul>
                      </li>
                      {% set ingresa_menu = false %}
                    {% endif %}

                    {% for module in allowed_modules.result if (module.module_id != 'config' and module.module_id != 'web_market' and module.module_id != 'reports' and module.module_id != 'employees' and module.module_id != 'sales' and module.module_id != 'customers' and module.module_id != 'payments' and module.module_id != 'abonos' and module.module_id != 'almacenes' and module.module_id != 'ecommerce' and module.module_id != 'lanzamientos' and module.module_id != 'blog' and module.module_id != 'items' and module.module_id != 'boxes') %}
                    {% if loop.first %}
                      <li><a><i class="fa fa-dropbox"></i> Compras <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                    {% endif %}
                    <li>
                        <a href="{{site_url(module.module_id)}}">
                            <img src="{{base_url() ~ 'images/menubar/' ~ module.module_id ~ '.png'}}" alt="{{line(module.desc_lang_key)}}" style="width: 23px; height: 23px;"/>
                                 {{line("module_" ~ module.module_id)}}
                        </a>
                    </li>
                    {% set ingresa_menu = true %}
                    {% endfor %}
                    {% if ingresa_menu %}
                        </ul>
                      </li>
                      {% set ingresa_menu = false %}
                    {% endif %}

                     {% for module in allowed_modules.result if (module.module_id != 'config' and module.module_id != 'web_market' and module.module_id != 'reports' and module.module_id != 'sales' and module.module_id != 'customers' and module.module_id != 'abonos' and module.module_id != 'ecommerce' and module.module_id != 'lanzamientos' and module.module_id != 'blog' and module.module_id != 'boxes'  and module.module_id != 'receivings' and module.module_id != 'suppliers' and module.module_id != 'porpagar') %}
                    {% if loop.first %}
                      <li><a><i class="fa fa-building-o"></i> Inventario <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                    {% endif %}
                    <li>
                        <a href="{{site_url(module.module_id)}}">
                            <img src="{{base_url() ~ 'images/menubar/' ~ module.module_id ~ '.png'}}" alt="{{line(module.desc_lang_key)}}" style="width: 23px; height: 23px;"/>
                                 {{line("module_" ~ module.module_id)}}
                        </a>
                    </li>
                    {% set ingresa_menu = true %}
                    {% endfor %}
                    {% if ingresa_menu %}
                        </ul>
                      </li>
                      {% set ingresa_menu = false %}
                    {% endif %}

                    {% for module in allowed_modules.result if (module.module_id != 'config' and module.module_id != 'reports' and module.module_id != 'employees' and module.module_id != 'sales' and module.module_id != 'customers' and module.module_id != 'abonos' and module.module_id != 'boxes'  and module.module_id != 'receivings' and module.module_id != 'suppliers' and module.module_id != 'porpagar' and module.module_id != 'items'  and module.module_id != 'almacenes' and module.module_id != 'payments') %}
                    {% if loop.first %}
                      <li><a><i class="fa fa-soundcloud"></i> Web Market <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                    {% endif %}
                    <li>
                        <a href="{{site_url(module.module_id)}}">
                            <img src="{{base_url() ~ 'images/menubar/' ~ module.module_id ~ '.png'}}" alt="{{line(module.desc_lang_key)}}" style="width: 23px; height: 23px;"/>
                                 {{line("module_" ~ module.module_id)}}
                        </a>
                    </li>
                    {% set ingresa_menu = true %}
                    {% endfor %}
                    {% if ingresa_menu %}
                        </ul>
                      </li>
                      {% set ingresa_menu = false %}
                    {% endif %}

                    {% for module in allowed_modules.result if (module.module_id == 'reports') %}
                    <li>
                        <a href="{{site_url(module.module_id)}}">
                            <img src="{{base_url() ~ 'images/menubar/' ~ module.module_id ~ '.png'}}" alt="{{line(module.desc_lang_key)}}" style="width: 23px; height: 23px;"/>
                                 {{line("module_" ~ module.module_id)}}
                        </a>
                    </li>
                    {% endfor %}

  {#                  {% for module in allowed_modules.result if (module.module_id != 'config' and module.module_id != 'web_market') %}
                    <li>
                        <a href="{{site_url(module.module_id)}}">
                            <img src="{{base_url() ~ 'images/menubar/' ~ module.module_id ~ '.png'}}" alt="{{line(module.desc_lang_key)}}" style="width: 23px; height: 23px;"/>
                                 {{line("module_" ~ module.module_id)}}
                        </a>
                    </li>
                    {%endfor%}
#}
                  {#<li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="index.html">Dashboard</a></li>
                      <li><a href="index2.html">Dashboard2</a></li>
                      <li><a href="index3.html">Dashboard3</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="form.html">General Form</a></li>
                      <li><a href="form_advanced.html">Advanced Components</a></li>
                      <li><a href="form_validation.html">Form Validation</a></li>
                      <li><a href="form_wizards.html">Form Wizard</a></li>
                      <li><a href="form_upload.html">Form Upload</a></li>
                      <li><a href="form_buttons.html">Form Buttons</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="general_elements.html">General Elements</a></li>
                      <li><a href="media_gallery.html">Media Gallery</a></li>
                      <li><a href="typography.html">Typography</a></li>
                      <li><a href="icons.html">Icons</a></li>
                      <li><a href="glyphicons.html">Glyphicons</a></li>
                      <li><a href="widgets.html">Widgets</a></li>
                      <li><a href="invoice.html">Invoice</a></li>
                      <li><a href="inbox.html">Inbox</a></li>
                      <li><a href="calendar.html">Calendar</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="tables.html">Tables</a></li>
                      <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="chartjs.html">Chart JS</a></li>
                      <li><a href="chartjs2.html">Chart JS2</a></li>
                      <li><a href="morisjs.html">Moris JS</a></li>
                      <li><a href="echarts.html">ECharts</a></li>
                      <li><a href="other_charts.html">Other Charts</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                      <li><a href="fixed_footer.html">Fixed Footer</a></li>
                    </ul>
                  </li>#}
                </ul>
              </div>
              {#<div class="menu_section">
                <h3>Compras</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="e_commerce.html">E-commerce</a></li>
                      <li><a href="projects.html">Projects</a></li>
                      <li><a href="project_detail.html">Project Detail</a></li>
                      <li><a href="contacts.html">Contacts</a></li>
                      <li><a href="profile.html">Profile</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="page_403.html">403 Error</a></li>
                      <li><a href="page_404.html">404 Error</a></li>
                      <li><a href="page_500.html">500 Error</a></li>
                      <li><a href="plain_page.html">Plain Page</a></li>
                      <li><a href="login.html">Login Page</a></li>
                      <li><a href="pricing_tables.html">Pricing Tables</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#level1_1">Level One</a>
                        <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="#level1_2">Level One</a>
                        </li>
                    </ul>
                  </li>                  
                  <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                </ul>
              </div>#}

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              {% for module in allowed_modules.result if module.module_id == 'config' %}
              <a data-toggle="tooltip" data-placement="top" title="{{line(module.desc_lang_key)}}" href="{{site_url(module.module_id)}}">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
            {% endfor %}
            {% for module in allowed_modules.result if module.module_id == 'web_market' %}
              <a data-toggle="tooltip" data-placement="top" title="{{line(module.desc_lang_key)}}" href="{{site_url(module.module_id)}}">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
              </a>
            {% endfor %}
              {#<a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>#}
              <a data-toggle="tooltip" data-placement="top" title="Ir a la Tienda Online" href="http://ambatosystem.com/pos/index.php/web_market">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title='{{line("common_logout")}}' href="home/logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->

            </div>
        </div>


        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{{base_url()}}images/profile.png" alt="">{{ user_info.first_name ~ ' '~ user_info.last_name~'!'}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Perfil</a></li>
                    {% for module in allowed_modules.result if module.module_id == 'config' %}
                    <li>
                      <a href="{{site_url(module.module_id)}}">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>{{line("module_" ~ module.module_id)}}</span>
                      </a>
                    </li>
                  {% endfor %}
                   {% for module in allowed_modules.result if module.module_id == 'web_market' %}
                    <li>
                      <a href="{{site_url(module.module_id)}}">
                        <span class="glyphicon glyphicon-shopping-cart pull-right"></span>
                        <span>{{line("module_" ~ module.module_id)}}</span>
                      </a>
                    </li>
                  {% endfor %}
                    <li><a href="home/logout"><i class="fa fa-sign-out pull-right"></i> {{line("common_logout")}}</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="images/profile.png" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/profile.png" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/profile.png" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/profile.png" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->


{% endblock %}  