{% block item_producto_destacado %}
	<div class="product-image-wrapper">
		<div class="single-products">
				<div class="productinfo text-center">
					<img src="images/home/product1.jpg" alt="{{producto.name}}" />
					<h2>${{producto.unit_price}}</h2>
					<p>{{producto.name}}</p>
					<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>{{line('market_agregar_a_carrito')}}</a>
				</div>
				<div class="product-overlay">
					<div class="overlay-content">
						<h2>${{producto.unit_price}}</h2>
						<p>{{producto.name}}</p>
						<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>{{line('market_agregar_a_carrito')}}</a>
					</div>
				</div>
		</div>
		<div class="choose">
			<ul class="nav nav-pills nav-justified">
				<li><a href="#"><i class="fa fa-plus-square"></i>{{line('market_agregar_a_lista_deseos')}}</a></li>
				<li><a href="#"><i class="fa fa-plus-square"></i>{{line('market_agregar_para_comparar')}}</a></li>
			</ul>
		</div>
	</div>
{% endblock %}