{% block item_producto %}
	<div class="product-image-wrapper">
		<div class="single-products">
				<div class="productinfo text-center">
					<img src="images/home/product1.jpg" alt="{{producto.name}}" />
					<h2>${{producto.unit_price}}</h2>
					<p>{{producto.name}}</p>
					<a href="{{producto.item_id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>{{line('market_agregar_a_carrito')}}</a>
				</div>
		</div>
	</div>
{% endblock %}