{% block header %}
    {% include 'partials/heading.html.twig' %}
    {% include 'partials/heade.html.twig' %}
{% endblock %}
{% block content %}
{% block main_banner %}
	{# include 'main_banner.html.twig' #}
{% endblock %}

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">{{line('market_home')}}</a></li>
				  <li class="active">{{line('market_carrito_compras')}}</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">{{line('market_producto')}}</td>
							<td class="description"></td>
							<td class="price">{{line('market_precio')}}</td>
							<td class="quantity">{{line('market_cantidad')}}</td>
							<td class="total">{{line('market_total')}}</td>
							<td></td>
						</tr>
					</thead>
					<tbody id="items-carrito">
						{% for producto in productos %}
							{% include 'carrito/item_carrito.html.twig' with {'producto':producto} %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->
		<section id="do_action">
		<div class="container">
			<!--<div class="heading">
				<h3>{{line('market_que_hacer_a_continuacion')}}</h3>
				<p></p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<input type="checkbox" >
								<label>{{line('market_estimar_envio_e_impuestos')}}</label>
							</li>
						</ul>
						<ul class="user_info">
							<li class="single_field">
								<label>{{line('market_provincia')}}:</label>
								<select>
								</select>
								
							</li>
							<li class="single_field">
								<label>{{line('market_ciudad')}}:</label>
								<select>
								</select>
							</li>
							<li class="single_field zip-field">
								<label>{{line('market_codigo_zip')}}:</label>
								<input type="text">
							</li>
						</ul>
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<a class="btn btn-default check_out" href="">{{line('market_continuar')}}</a>
							</div>
						</div>
					</div>
				</div>-->
				<div class="col-sm-12">
					<div class="total_area">
						<ul>
							<li id="cart-subtotal">{{line('market_subtotal')}}$<span>{{subtotal}}</span></li>
							<li>{{line('market_costos_envio')}}<span>{{line('market_gratis')}}</span></li>
							<li id="cart-total">{{line('market_total')}}$<span>{{total}}</span></li>
						</ul>
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<a class="btn btn-default check_out" href="{{site_url('web/Carts/entrega')}}">{{line('market_pagar')}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
{% endblock %}

{% block footer %}
    {% include 'partials/foote.html.twig' %}
    {% include 'partials/footing.html.twig' %}
{% endblock %}