{% block header %}
    {% include 'partials/heading.html.twig' %}
    {% include 'partials/heade.html.twig' %}
{% endblock %}
{% block content %}

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="#">{{line('market_home')}}</a></li>
			  <li class="active">{{line('market_compra')}}</li>
			</ol>
		</div><!--/breadcrums-->

		<div class="step-one">
			<h2 class="heading">{{line('market_paso1')}}</h2>
		</div>

			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-7 clearfix">
						<div class="bill-to">
							<p>{{line('market_facturar_a')}}</p>
							<div class="form-one">
								<form>
									<input type="text" placeholder="{{line('market_email')}}*">
									<input type="text" placeholder="{{line('common_first_name')}}*">
									<input type="text" placeholder="{{line('common_last_name')}}*">
									<input type="text" placeholder="{{line('common_address_1')}}*">
									<input type="text" placeholder="{{line('common_address_2')}}*">
								</form>
							</div>
							<div class="form-two">
								<form>
									<input type="text" placeholder="Zip / {{line('market_codigo_zip')}}* *">
									<select>
										<option>-- {{line('market_pais')}} --</option>
										
									</select>
									<select>
										<option>-- {{line('market_estado_provincia_region')}}--</option>
									</select>
									<input type="password" placeholder="{{line('market_confirm_password')}}">
									<input type="text" placeholder="{{line('common_phone_number')}} *">
									<div class="btn-group btn-group-justified">
										<div class="btn-group">
											<a class="btn btn-primary" href="{{site_url('web/Carts/pago')}}">{{line('market_continuar')}}</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="order-message">
							<p>{{line('market_orden_de_envio')}}</p>
							<textarea name="message"  placeholder="{{line('market_notas_de_envio')}}" rows="16"></textarea>
							<label><input type="checkbox">{{line('market_enviar_a_direccion_factura')}}</label>
						</div>	
					</div>					
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}
{% block footer %}
    {% include 'partials/foote.html.twig' %}
    {% include 'partials/footing.html.twig' %}
{% endblock %}