{% extends _layout %}
{% block css %}
    {{parent()}}
    <link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables/media/css/jquery.dataTables.css"/>
{%endblock%}
{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}
{% block content %}
<div class="page-title">
  <div class="title_left">
    <h3>{{line('common_list_of')~' '~line('module_'~controller_name)}} <small>Registros almacenados</small></h3>
  </div>
</div>
<div class="clear-fix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group" role="group">
                </div>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    {{  manage_table | raw}}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="feedback_bar"></div>
{% endblock %}
{% block javascript %}
    {{parent()}}
    <script src="{{base_url()}}assets/bower_components/datatables/media/js/jquery.dataTables.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
    <script src="{{base_url()}}js/manage_tables.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
    <script type="text/javascript">
        var oTable;
        $(document).ready(function ()
        {
                enable_select_all();
                oTable = $('#sortable_table').dataTable({
                    "processing": true,
                    "serverSide": true,
                    "iDisplayLength": 10,
                    "ajax": '{{controller_name}}/mis_datos',
                    "aoColumnDefs": [{'bSortable': false, 'aTargets': [0]}, {'bSortable': false, 'aTargets': [5]}],
                    "fnDrawCallback": function () {
        				enable_row_selection();
                    }
                });
            });
            function post_person_form_submit(response)
            {
                if (!response.success)
                {
                    set_feedback(response.message, 'error_message', true);
                }
                else
                {
                    //This is an update, just update one row
                    if (jQuery.inArray(response.person_id, get_visible_checkbox_ids()) != -1)
                    {
                        update_row(response.person_id, '{{site_url(controller_name~"/get_row")}}');
                        set_feedback(response.message, 'success_message', false);

                    }
                    else //refresh entire table
                    {
                        do_search(true, function ()
                        {
                            //highlight new row
                            hightlight_row(response.person_id);
                            set_feedback(response.message, 'success_message', false);
                        });
                    }
                }
            }
    </script>
{%endblock%}