{% block header %}
    {% include 'partials/heading.html.twig' %}
    {% include 'partials/heade.html.twig' %}
{% endblock %}
{% block content %}
{% block main_banner %}
	{# include 'main_banner.html.twig' #}
{% endblock %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					{% include 'partials/left_menu.html.twig' %}
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="blog-post-area">
						<h2 class="title text-center">{{line('blog_novedades')}}</h2>
						{% for articulo in articulos_blog %}
							<div class="single-blog-post">
								<h3>{{articulo.titulo}}</h3>
								<div class="post-meta">
									<ul>
										<!--<li><i class="fa fa-user"></i>{#articulo.employee_id#} </li>-->
										<li><i class="fa fa-clock-o"></i>{{articulo.fecha|date('H:i:s')}}</li>
										<li><i class="fa fa-calendar"></i>{{articulo.fecha|date('Y-m-d')}}</li>
									</ul>
									<span>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star-half-o"></i>
									</span>
								</div>
								<a href="{{site_url('web/market/blog_item')}}/{{articulo.articulo_id}}">
									{% for imagen in articulo.imagenes|slice(0,1) %}
										<img src="{{imagen.url}}" alt="{{articulo.titulo}}" class="blog-list-img"/>
									{% endfor %}
								</a>
								<p>{{retirar_etiquetas_html(articulo.detalle[0:250])}}</p>
								<a  class="btn btn-primary" href="{{site_url('web/market/blog_item')}}/{{articulo.articulo_id}}">{{line('articulos_leer_mas')}}</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block footer %}
    {% include 'partials/foote.html.twig' %}
    {% include 'partials/footing.html.twig' %}
{% endblock %}