{% block header %}
    {% include 'partials/heading.html.twig' %}
    {% include 'partials/heade.html.twig' %}
{% endblock %}
{% block content %}
{% block main_banner %}
	{% include 'main_banner.html.twig' %}
{% endblock %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					{% include 'partials/left_menu.html.twig' %}
				</div>
				
				<div class="col-sm-9 padding-right">
					<div id="market-destacados">
					</div>
					
					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								{% for categoria in categorias|slice(0,5) %}
									<li class="{% if loop.index == 1 %} active {% endif %}">
										<a data-target="#cat{{loop.index}}" data-toggle="tabajax" href="{{site_url('web/market/productos')}}/{{categoria.filtro}}">{{categoria.filtro}}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
						<div class="tab-content">
							{% for categoria in categorias|slice(0,5) %}
								<div class="tab-pane fade {% if loop.index == 1 %} active in {% endif %}" id="cat{{loop.index}}" >

								</div>
							{% endfor %}
						</div>
					</div><!--/category-tab-->
				{# include 'items_recomendados.html.twig' #}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
    {% include 'partials/foote.html.twig' %}
    {% include 'partials/footing.html.twig' %}
{% endblock %}