{% block main_banner %}
	
   	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							{% for lanzamiento in lanzamientos %}
								<li data-target="#slider-carousel" data-slide-to="{{loop.index}}" {% if loop.first %} class="active" {% endif %} ></li>
							{% endfor %}
						</ol>
						
						<div class="carousel-inner">
							{% for lanzamiento in lanzamientos %}
								<div class="item {% if loop.first %} active {% endif %}">
									<div class="col-sm-6">
										<h1>{{lanzamiento.titulo}}</h1>
										<h2>{{lanzamiento.producto.name}}</h2>
										<p>{{lanzamiento.detalle}}</p>
										<a href="{{site_url('web/market/producto')}}/{{lanzamiento.item_id}}" type="button" class="btn btn-default get">{{line('market_mas_informacion')}}</a>
									</div>
									<div class="col-sm-6">
										<img src="{{lanzamiento.imagen.url}}" class="girl img-responsive" alt="" />
										<!--<img src="images/home/pricing.png"  class="pricing" alt="" />-->
									</div>
								</div>
							{% endfor %}
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div><!--/slide-carouse-->
				</div>
			</div>
		</div>
	</section><!--/slider-->

{% endblock %}