{% block header %}
    {% include 'partials/heading.html.twig' %}
    {% include 'partials/heade.html.twig' %}
{% endblock %}
{% block content %}
{% block main_banner %}
	{# include 'main_banner.html.twig' #}
{% endblock %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					{% include 'partials/left_menu.html.twig' %}
				</div>
				
				<div class="col-sm-9 padding-right">

						<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product" id="main-imagen-producto"
							>
							{% for imagen in producto.imagenes|slice(0,1) %}
								<img src="{{imagen.url}}" alt="{{producto.name}}" />
							{% else %}
								<img src="{{site_url()}}/images/p.png" alt="{{producto.name}}" />
							{% endfor %}
								<h3 class="btn">ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
								    	{% for imagen in producto.imagenes %}
								    		{% if loop.index0%3 == 0 %}
								    			<div class="item {% if loop.index0 == 0 %} active {% endif %}">
								    		{% endif %}
												<a href="#" class="imagen-producto">
													<img src="{{imagen.url}}" alt="{{producto.name}}" />
												</a>
								    		{% if loop.index0%3 == 2 or loop.last %}
								    			</div>
								    		{% endif %}
										{% endfor %}
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="{{site_url()}}/images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>{{producto.name}}</h2>
								<p>Web ID: {{producto.item_id}}</p>
								<span>
									<span>${{producto.unit_price}}</span>
									<label>{{line('market_cantidad')}}:</label>
									<input type="number" value="1" class="cart_quantity_input" />
									<button type="button" class="btn btn-fefault add-to-cart" href="{{producto.item_id}}" val="0" >
										<i class="fa fa-shopping-cart"></i>
										{{line('market_agregar_a_carrito')}}
									</button>
								</span>
								<p><b>{{line('market_disponibilidad')}}:</b> In Stock</p>
								<p><b>	{{line('market_marca')}}:</b>{{producto.marca}}</p>
								<p><b>	{{line('market_talla')}}:</b>{{producto.size}}</p>
								<p><b>	{{line('market_color')}}:</b>{{producto.color}}<small class="color-producto" color="{{producto.color_value}}"></small></p>
								<div class="btn-group">
									<a href="https://twitter.com/share" data-text="{{producto.name}}" data-url="{{ site_url('web/market/producto')}}/{{producto.item_id}}" class="twitter-share-button" >Tweet</a> 
									<div class="fb-share-button" data-href="{{ site_url('web/market/producto')}}/{{producto.item_id}}" data-layout="button_count"></div>
								</div>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->

					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">{{line('market_detalles')}}</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">{{line('market_reviews')}} <span id="num_reviews"></span> </a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
								<div class="col-sm-3">
								</div>
							</div>
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<section id="productreviews">
										{% for review in producto.opiniones %}
											{% include 'elementos/product_review.html.twig' with {'review':review} %}
										{% endfor %}
									</section>
									
									<p><b>{{line('market_write_your_review')}}</b></p>
									

									<form action="{{site_url('web/market/add_review')}}" id="form-productreview">
										<div class="alert alert-info errors"></div>
										<span>
											<input type="text" placeholder="{{line('market_your_name')}}" name="nombre" id="nombre"/>
											<input type="email" placeholder="{{line('market_email')}}" name="email" id="email">
										</span>
										<textarea name="detalle" id="detalle" placeholder="{{line('market_detalle')}}"></textarea>
										<b>{{line('market_rating')}}: </b><input type="number" name="rating" id="rating" class="rating" min=0 max=5 data-size="xs" />
										<input type="hidden" value="{{producto.item_id}}" name="item">
										<button type="submit" id="submit" class="btn btn-default pull-right" >
											{{line('common_submit')}}
										</button>
									</form>
								</div>	
							</div>
						</div>
					</div>

					{% include 'items_recomendados.html.twig' %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block footer %}
    {% include 'partials/foote.html.twig' %}
    {% include 'partials/footing.html.twig' %}
{% endblock %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>