<!DOCTYPE html>
<html lang="en">
    <head>
        {% block css %}
            <meta http-equiv="content-type" content="text/html; charset=utf-8" />
            <!--<link rel="stylesheet" rev="stylesheet" href="<?php echo base_url(); ?>css/login.css" />-->
            {#<link rel="stylesheet" href="{{base_url()}}assets/bower_components/bootstrap/dist/css/bootstrap.css"/>#}
            <!-- MetisMenu CSS -->
            <!--<link rel="stylesheet" rev="stylesheet" href="{{base_url()}}assets/bower_components/metisMenu/dist/metisMenu.css"/>
            <link rel="stylesheet" rev="stylesheet" href="{{base_url()}}assets/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css"/>
<link href="{{base_url()}}assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
{#<link href="{{base_url()}}assets/bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css">#}
{#<link href="{{base_url()}}assets/bower_components/pnotify/pnotify.core.css" rel="stylesheet" type="text/css">#}
{#<link href="{{base_url()}}css/bootstrap.css" rel="stylesheet" type="text/css">#}
            <link href="{{base_url()}}assets/back.css" rel="stylesheet" type="text/css">
            <meta http-equiv="content-type" content="text/html; charset=utf-8" />
            <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->

            <title>Punto de Venta PHP | {{line(title)}}</title>
        {% endblock %}
    </head>
    <body class="nav-md">
        <div class="container body">
          <div class="main_container">            
            {% block header %}
              {% include 'partials/header.html.twig' %}
            {% endblock %}
            <!-- page content -->
                <div class="right_col" role="main">
                {% block content %}

                {% endblock %}
                </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
              <div class="pull-right">
                Punto de Venta PHP - Administrador <a href="https://www.ambatosystem.com">Ambatosystem</a>
              </div>
              <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
          </div>
        </div>

        {% block javascript %}
            {#<script src="{{base_url()}}assets/bower_components/jquery/dist/jquery.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
            <script src="{{base_url()}}assets/bower_components/jquery-validation/dist/jquery.validate.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
            <script src="{{base_url()}}assets/bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript" language="javascript" charset="UTF-8"></script>#}
            <!--<script src="{{base_url()}}assets/bower_components/metisMenu/dist/metisMenu.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
            <script src="{{base_url()}}assets/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js" type="text/javascript" language="javascript" charset="UTF-8"></script>-->
            {#<script src="{{base_url()}}js/common.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
    <script src="{{base_url()}}assets/bower_components/pnotify/pnotify.core.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
    <script src="{{base_url()}}assets/bower_components/jquery-ui/jquery-ui.min.js" type="text/javascript" language="javascript" charset="UTF-8"></script>#}
        <script src="{{base_url()}}assets/back.js" type="text/javascript" language="javascript" charset="UTF-8"></script>
        {%endblock%}        
    </body>
</html>
