{% extends _layout %}
{% block css %}
	{{parent()}}
	<link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables/media/css/jquery.dataTables.css"/>
	<link rel="stylesheet" href="{{base_url()}}assets/bower_components/datatables-fixedcolumns/css/dataTables.fixedColumns.css"/>
	<link rel="stylesheet" href="{{base_url()}}assets/bower_components/pnotify/pnotify.core.css"/>
{% endblock %}
{% block header %}
	{% include 'partials/header.html.twig' %}
{% endblock %}
{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">{{line('module_config')}} {# {{line("config_info")}} #}</div>
	<div class="panel-body">
		<div class="row">
			{{form_open('config/save/',{'id':'config_form', "role":"form"})}}
			<ul id="error_message_box"></ul>
			{# <legend>{{line("config_info")}}</legend> #}
			<div class="x_content">
				<ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
					<li class="nav-item active">
					{% set tab_name = 'basic' %}
					<a class="nav-link active" id="{{tab_name}}-tab" data-toggle="tab" href="#{{tab_name}}" role="tab" aria-controls="{{tab_name}}"aria-selected="true">Básico</a>
					</li>
					<li class="nav-item">
					{% set tab_name = 'electronic' %}
					<a class="nav-link" id="{{tab_name}}-tab" data-toggle="tab" href="#{{tab_name}}" role="tab" aria-controls="{{tab_name}}" aria-selected="false">Facturación Electrónica</a>
					</li>
					<li class="nav-item">
					{% set tab_name = 'credits' %}
					 <a class="nav-link" id="{{tab_name}}-tab" data-toggle="tab" href="#{{tab_name}}" role="tab" aria-controls="{{tab_name}}" aria-selected="false">Créditos</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					{# <div class="tab-pane active" id="basic" role="tabpanel" aria-labelledby="basic-tab"> #}
					<div class="tab-pane active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
						<div class="col-lg-6">
							<div class="form-group">	
								{{ form_label(line('config_company')~':', 'company',{'class':'wide required'}) }}
								{{ form_input({'name':'company','id':'company','value':config('company'),'class':"form-control", 'placeholder':"Ingrese el Nombre de la Companía"})}}
							</div>
							<div class="form-group">	
								{{ form_label(line('config_identity')~':', 'identity',{'class':'wide required'}) }}
								{{ form_input({'name':'identity','id':'identity','value':config('identity'),'class':"form-control", 'placeholder':line('config_identity_placeholder')})}}
							</div>
							<div class="form-group">	
								{{ form_label(line('config_address')~':', 'address',{'class':'wide required'}) }}
								{{ form_textarea({'name':'address','id':'address','rows':4,'cols':17,'value':config('address'),'class':"form-control"}) }}
							</div>
							<div class="form-group">
								{{ form_label(line('config_phone')~':', 'phone',{'class':'wide required'}) }}
								{{ form_input({'name':'phone','id':'phone','value':config('phone'),'class':"form-control"}) }}
							</div>
							<div class="form-group">
								{{ form_label(line('config_default_tax_rate_1')~':', 'default_tax_1_rate',{'class':'required'}) }}
								{{ form_input({'name':'default_tax_1_name','id':'default_tax_1_name','size':'10','value':config('default_tax_1_name')!=FALSE ? config('default_tax_1_name') : line('items_sales_tax_1'),'class':"form-control"}) }}
								<div class="form-group input-group">    
									{{ form_input({'name':'default_tax_1_rate','id':'default_tax_1_rate','size':'4','value':config('default_tax_1_rate'),'class':"form-control"}) }}
									<span class="input-group-addon">%</span>
								</div>
							</div>
							<div class="form-group">
								{{ form_label(line('config_default_tax_rate_2')~':', 'default_tax_1_rate',{'class':'wide'}) }}
								{{ form_input({'name':'default_tax_2_name','id':'default_tax_2_name','size':'10','value':config('default_tax_2_name')!=FALSE ? config('default_tax_2_name') : line('items_sales_tax_2'),'class':"form-control"}) }}
								<div class="form-group input-group">                                     
									{{ form_input({'name':'default_tax_2_rate','id':'default_tax_2_rate','size':'4','value':config('default_tax_2_rate'),'class':"form-control"}) }}
									<span class="input-group-addon">%</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								{{ form_label(line('common_email')~':', 'email',{'class':'wide'}) }}
								{{ form_input({'name':'email','id':'email','value':config('email'),'class':"form-control"}) }}
							</div>
							<div class="form-group">
								{{ form_label(line('config_fax')~':', 'fax',{'class':'wide'}) }}
								<div class='form_field'>
									{{ form_input({'name':'fax','id':'fax','value':config('fax'),'class':"form-control"}) }}
								</div>
							</div>
							<div class="form-group">
								{{ form_label(line('config_website')~':', 'website',{'class':'wide'}) }}
								{{ form_input({'name':'website','id':'website','value':config('website'),'class':"form-control"}) }}
							</div>
							<div class="form-group">
								{{ form_label(line('common_return_policy')~':', 'return_policy',{'class':'wide required'}) }}
								{{ form_textarea({'name':'return_policy','id':'return_policy','rows':'4','cols':'17','value':config('return_policy'),'class':"form-control"}) }}
							</div>
							<div class="form-group">
								{{ form_label(line('config_language')~':', 'language',{'class':'wide required'}) }}
								{{ form_dropdown('language', {'spanishec'  : 'Español-Ecuador','english'  : 'English','indonesia'    : 'Indonesia','spanish'   : 'Spanish'}, config('language'),"class='form-control'") }}
							</div>
							<div class="form-group">
								{{ form_label(line('config_timezone')~':', 'timezone',{'class':'wide required'}) }}
								{{ form_dropdown('timezone', {
								'Pacific/Midway':'(GMT-11:00) Midway Island, Samoa',
								'America/Adak':'(GMT-10:00) Hawaii-Aleutian',
								'Etc/GMT+10':'(GMT-10:00) Hawaii',
								'Pacific/Marquesas':'(GMT-09:30) Marquesas Islands',
								'Pacific/Gambier':'(GMT-09:00) Gambier Islands',
								'America/Anchorage':'(GMT-09:00) Alaska',
								'America/Ensenada':'(GMT-08:00) Tijuana, Baja California',
								'Etc/GMT+8':'(GMT-08:00) Pitcairn Islands',
								'America/Los_Angeles':'(GMT-08:00) Pacific Time (US & Canada)',
								'America/Denver':'(GMT-07:00) Mountain Time (US & Canada)',
								'America/Chihuahua':'(GMT-07:00) Chihuahua, La Paz, Mazatlan',
								'America/Dawson_Creek':'(GMT-07:00) Arizona',
								'America/Belize':'(GMT-06:00) Saskatchewan, Central America',
								'America/Cancun':'(GMT-06:00) Guadalajara, Mexico City, Monterrey',
								'Chile/EasterIsland':'(GMT-06:00) Easter Island',
								'America/Chicago':'(GMT-06:00) Central Time (US & Canada)',
								'America/New_York':'(GMT-05:00) Eastern Time (US & Canada)',
								'America/Havana':'(GMT-05:00) Cuba',
								'America/Bogota':'(GMT-05:00) Bogota, Lima, Quito, Rio Branco',
								'America/Caracas':'(GMT-04:30) Caracas',
								'America/Santiago':'(GMT-04:00) Santiago',
								'America/La_Paz':'(GMT-04:00) La Paz',
								'Atlantic/Stanley':'(GMT-04:00) Faukland Islands',
								'America/Campo_Grande':'(GMT-04:00) Brazil',
								'America/Goose_Bay':'(GMT-04:00) Atlantic Time (Goose Bay)',
								'America/Glace_Bay':'(GMT-04:00) Atlantic Time (Canada)',
								'America/St_Johns':'(GMT-03:30) Newfoundland',
								'America/Araguaina':'(GMT-03:00) UTC-3',
								'America/Montevideo':'(GMT-03:00) Montevideo',
								'America/Miquelon':'(GMT-03:00) Miquelon, St. Pierre',
								'America/Godthab':'(GMT-03:00) Greenland',
								'America/Argentina/Buenos_Aires':'(GMT-03:00) Buenos Aires',
								'America/Sao_Paulo':'(GMT-03:00) Brasilia',
								'America/Noronha':'(GMT-02:00) Mid-Atlantic',
								'Atlantic/Cape_Verde':'(GMT-01:00) Cape Verde Is.',
								'Atlantic/Azores':'(GMT-01:00) Azores',
								'Europe/Belfast':'(GMT) Greenwich Mean Time : Belfast',
								'Europe/Dublin':'(GMT) Greenwich Mean Time : Dublin',
								'Europe/Lisbon':'(GMT) Greenwich Mean Time : Lisbon',
								'Europe/London':'(GMT) Greenwich Mean Time : London',
								'Africa/Abidjan':'(GMT) Monrovia, Reykjavik',
								'Europe/Amsterdam':'(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna',
								'Europe/Belgrade':'(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague',
								'Europe/Brussels':'(GMT+01:00) Brussels, Copenhagen, Madrid, Paris',
								'Africa/Algiers':'(GMT+01:00) West Central Africa',
								'Africa/Windhoek':'(GMT+01:00) Windhoek',
								'Asia/Beirut':'(GMT+02:00) Beirut',
								'Africa/Cairo':'(GMT+02:00) Cairo',
								'Asia/Gaza':'(GMT+02:00) Gaza',
								'Africa/Blantyre':'(GMT+02:00) Harare, Pretoria',
								'Asia/Jerusalem':'(GMT+02:00) Jerusalem',
								'Europe/Minsk':'(GMT+02:00) Minsk',
								'Asia/Damascus':'(GMT+02:00) Syria',
								'Europe/Moscow':'(GMT+03:00) Moscow, St. Petersburg, Volgograd',
								'Africa/Addis_Ababa':'(GMT+03:00) Nairobi',
								'Asia/Tehran':'(GMT+03:30) Tehran',
								'Asia/Dubai':'(GMT+04:00) Abu Dhabi, Muscat',
								'Asia/Yerevan':'(GMT+04:00) Yerevan',
								'Asia/Kabul':'(GMT+04:30) Kabul',
								'Asia/Yekaterinburg':'(GMT+05:00) Ekaterinburg',
								'Asia/Tashkent':'(GMT+05:00) Tashkent',
								'Asia/Kolkata':'(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi',
								'Asia/Katmandu':'(GMT+05:45) Kathmandu',
								'Asia/Dhaka':'(GMT+06:00) Astana, Dhaka',
								'Asia/Novosibirsk':'(GMT+06:00) Novosibirsk',
								'Asia/Rangoon':'(GMT+06:30) Yangon (Rangoon)',
								'Asia/Bangkok':'(GMT+07:00) Bangkok, Hanoi, Jakarta',
								'Asia/Krasnoyarsk':'(GMT+07:00) Krasnoyarsk',
								'Asia/Hong_Kong':'(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi',
								'Asia/Irkutsk':'(GMT+08:00) Irkutsk, Ulaan Bataar',
								'Australia/Perth':'(GMT+08:00) Perth',
								'Australia/Eucla':'(GMT+08:45) Eucla',
								'Asia/Tokyo':'(GMT+09:00) Osaka, Sapporo, Tokyo',
								'Asia/Seoul':'(GMT+09:00) Seoul',
								'Asia/Yakutsk':'(GMT+09:00) Yakutsk',
								'Australia/Adelaide':'(GMT+09:30) Adelaide',
								'Australia/Darwin':'(GMT+09:30) Darwin',
								'Australia/Brisbane':'(GMT+10:00) Brisbane',
								'Australia/Hobart':'(GMT+10:00) Hobart',
								'Asia/Vladivostok':'(GMT+10:00) Vladivostok',
								'Australia/Lord_Howe':'(GMT+10:30) Lord Howe Island',
								'Etc/GMT-11':'(GMT+11:00) Solomon Is., New Caledonia',
								'Asia/Magadan':'(GMT+11:00) Magadan',
								'Pacific/Norfolk':'(GMT+11:30) Norfolk Island',
								'Asia/Anadyr':'(GMT+12:00) Anadyr, Kamchatka',
								'Pacific/Auckland':'(GMT+12:00) Auckland, Wellington',
								'Etc/GMT-12':'(GMT+12:00) Fiji, Kamchatka, Marshall Is.',
								'Pacific/Chatham':'(GMT+12:45) Chatham Islands',
								'Pacific/Tongatapu':"(GMT+13:00) Nuku'alofa",
								'Pacific/Kiritimati':'(GMT+14:00) Kiritimati'
								}, config('timezone') ? config('timezone') : timezone,"class='form-control'" ) 
								}}
							</div>
							<div class="form-group">
								{{ form_label(line('config_printe_after_sale')~':', 'print_after_sale',{'class':'wide'}) }}
								{{ form_checkbox({'name':'print_after_sale','id':'print_after_sale','value':'print_after_sale','checked':config('print_after_sale'),'class':"checkbox-inline"}) }}
							</div>
						</div>
						{{ form_submit({'name':'submit','id':'submit','value':line('common_submit'),'class':'btn btn-success'}) }}
					</div>
					<div class="tab-pane" id="electronic" role="tabpanel" aria-labelledby="electronic-tab">
						{{form_open('config/save/',{'id':'config_form', "role":"form"})}}
							<ul id="error_message_box"></ul>
							{% set field = 'facturacion_electronica' %}
							<div class="form-group">
								{{ form_label(line('config_'~field)~':', field,{'class':'wide'}) }}
								{{ form_checkbox({'name':field,'id':field,'value':field,'checked':config(field),'class':"checkbox-inline"}) }}
							</div>
							<div class="form-group">
								{{ form_label(line('config_fe_ambiente')~':', 'ambiente',{'class':'wide required'}) }}
								{{ form_dropdown('ambiente', {'1' : 'Pruebas', '2' : 'Producción'}, config('fe_ambiente'),"class='form-control'") }}
							</div>
						{{ form_submit({'name':'submit','id':'submit','value':line('common_submit'),'class':'btn btn-success'}) }}

					</div>

					<div class="tab-pane fade" id="credits" role="tabpanel" aria-labelledby="credits-tab">
						<h1 class="text-center">Punto de Venta {{config('pos_version')}}</h1>
						<p>Sistema web que permite gestionar las compras, ventas e inventario de su negocio. Además permite generar los documentos de facturación electrónica con especificaciones para el Servicio de Rentas Internas del Ecuador.</p>
						
						<p>Utiliza la plantilla de diseño de gentelella.</p>
						<a class="btn  btn-default" href="http://www.ambatosystem.com" >Ambatosystem</a>
					</div>
				</div>
			</div>
			{{ form_close()}}
		</div>
		<div id="feedback_bar"></div>
	</div>
</div>
<div class="clearfix"></div>
{% endblock %}
{% block javascript %}
	{{ parent() }}
	<script type='text/javascript'>

//validation and submit handling
$(document).ready(function()
{
	$('#config_form').validate({
		submitHandler:function(form)
		{
			$.ajax({
				type: $(form).attr('method'),
				url: $(form).attr('action'),
				data: $(form).serialize(),
				success: function (response) {
					if(response.success){
						set_feedback(response.message,'success_message',false);		
					}
					else{
						set_feedback(response.message,'error_message',true);		
					}
				},
				dataType:'json'
			});

		},
		errorLabelContainer: "#error_message_box",
		wrapper: "li",
		rules: 
		{
			company: "required",
			address: "required",
			phone: "required",
			default_tax_rate:
			{
				required:true,
				number:true
			},
			email:"email",
			return_policy: "required"    		
		},
		messages: 
		{
			company: "{{line('config_company_required')}}",
			address: "{{line('config_address_required')}}",
			phone: "{{line('config_phone_required')}}",
			default_tax_rate:
			{
				required:"{{line('config_default_tax_rate_required')}}",
				number:"{{line('config_default_tax_rate_number')}}"
			},
			email: "{{line('common_email_invalid_format')}}",
			return_policy:"{{line('config_return_policy_required')}}"
			
		}
	});
});
</script>
{% endblock %}