{% extends _layout %}
{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}
{% block content %}
    <h3>{{line('common_welcome_message')}}</h3>
    <!--<div id="home_module_list">-->
    {% for module in allowed_modules.result %}
        <!--<div class="module_item">-->
        {#    <?php $idx++; if ($idx % 4 == 0) { ?> <div class = "row"> <?php } ?>#}
        {{ loop.first ? '<div class = "row">':''}}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                {#            <a href="<?php echo site_url("$module->module_id"); ?>">#}
                <a href="{{site_url(module.module_id)}}">
                    {#                <img src="<?php echo base_url() . 'images/menubar/' . $module->module_id . '.png'; ?>" border="0" alt="Menubar Image" /></a>#}
                    <img src="{{base_url() ~ 'images/menubar/' ~ module.module_id ~ '.png'}}" border="0" alt="Menubar Image" /></a>
                <div class="caption">
                    {#                <h3><a href="<?php echo site_url("$module->module_id"); ?>"><?php echo $this->lang->line("module_" . $module->module_id) ?></a></h3>#}
                    <h3><a href="{{site_url(module.module_id)}}">{{line("module_" ~ module.module_id)}}</a></h3>
                        {#                <p><?php echo $this->lang->line('module_' . $module->module_id . '_desc'); ?></p>#}
                    <p>{{line('module_' ~ module.module_id ~ '_desc')}}</p>
                </div>
            </div>
        </div>
        {{ loop.last ? '</div>':'' }}
    {%endfor%}
</div>
{% endblock %}